* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("background\ pro.jpg")no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position:fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.Welcome{
    font-size: 2em;
    color: white;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;

}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 5px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .5x;
}

.navigation a:hover:after {
    transform: scaleX(1);
    transform-origin: right;
}

.navigation .btnLogin-popup {
    width: 120px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: white;
    color: #162938;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .5s ease, height .2s ease;
    overflow: hidden;
    transform: scale(0);
   
}

.wrapper.active-popup {
    transform: scale(1);
}
 
.wrapper.active {
    height: 520px;
}


.wrapper .form-Login {
    width: 100%;
    padding: 40px;
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;

}

.wrapper .form-Login{
    transition: transform .18s ease;
    transform: translateX(0);

}

.wrapper.active .form-Login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-Register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-Register{
    transition: transform .18s ease;
    transform: translateX(0);

}

.form-Login h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top:50%;
    left: 5px;
    transform:translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top : 5px
}

.input-box input {
    width: 100%;
    height: 100%;
    font-size: 1em;
    border: none;
    outline: none;
    color: #162938;
    font-weight: 600;
    background: transparent;
    padding:0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.1em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot a {
    color: #162938;
    margin-right: 3px;
    text-decoration: none;
}

.remember-forgot a label input {
    accent-color: #162938;
    margin-right: 3px;
    
}

.remember-forgot a:hover {
    text-decoration: underline;

}

.button {
    width: 100%;
    height: 45%;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}

.Login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.Login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 500;
}

.Login-register p a :hover {
    text-decoration: underline;
}